@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.ct-hoverDefault {
         @apply hover:bg-[#e67880] hover:text-[white] hover:border-[white] hover:transition-all hover:delay-150 hover:ease-in-out  ;
}

.ct-buttonCirle {
    @apply w-[35px] h-[35px] border-2 border-[#c2c2c2] p-1 rounded-full flex justify-center items-center ct-hoverDefault ml-[5px];
}
.ct-hoverbtn-next-prev{
    @apply hover:bg-[black] hover:text-[white] hover:border-[white]
}
.active{
    @apply text-[#e67880] 
}

@layer base {

    h3{
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 600;
        box-sizing: border-box;
        padding-bottom: 7px;
        width: fit-content;
        border-bottom: 1px solid;
    }
    html {
        font-family: 'Open Sans', sans-serif;
    }
}
